.card {
    background-color: rgba(191, 66, 60, 1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto';
  }